<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>{{ app_name }}</h1>
    <p>Автор: {{ author_name }} ({{ group }})</p>
    <nav>
        <a href="/">Главная</a> |
        <a href="/users">Пользователи</a> |
        <a href="/currencies">Валюты</a> |
        <a href="/author">Автор</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>Версия приложения: {{ app_version }}</p>
</footer>

</body>
</html>
